.Render-main{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 100vh;
}
.Image{
    grid-column: 2/3;
}

.Image img{
    width: 100%; /* Ensures the image is as wide as its container */
    height: 100%; /* Ensures the image is as tall as its container */
    object-position: center; /* This centers the image within its container */
}
.SignIn-form{
    grid-column: 1/2;
}


